services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:4000"
    environment:
      PORT: ${BACKEND_PORT}
      JWT_SECRET: ${BACKEND_JWT_SECRET}
      JWT_EXPIRES_IN: ${BACKEND_JWT_EXPIRES_IN}
      BCRYPT_ROUNDS: ${BACKEND_BCRYPT_ROUNDS}
      ENCRYPTION_MASTER_KEY: ${BACKEND_ENCRYPTION_KEY}

      # Database
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}

    depends_on:
      - postgres

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5433:5432"

  frontend:
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

volumes:
  pgdata:
