@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply bg-[#E5E5E5] text-[#333];
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark html,
.dark body {
  @apply bg-slate-900 text-slate-100;
}
